.logo
{
    width: 150px;
    height: 50px;
}
body
{
    background-image: url('pics/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-trans
{
    background-color: rgba(22, 22, 22, 0.5);
}
  
h3.hometitle {
    color: #ffffff;
    font-size: 400%;
    font-weight: 700;
    line-height: 110%;
    margin-top: 100px;
    text-transform: uppercase;
}

.w-80{width: 80%;}
.w-50{width: 50%;}
.bg-black{background-color: black;}
